.w{
	width: 1280px;
	height: 800px;
	margin: 0 auto;
	position: relative;
}
.back-img{
	width: 100%;
	height: 800px;
	background: url(../img-room/背景.png) no-repeat;
}
.back-img .erweima-login {
	width: 400px;
	height: 445px;
	background-color: #fff;
	position: absolute;
	top: 150px;
	left: 440px;
	box-shadow: 4px 5px #000000;
}
.back-img .erweima-login span.login-s1,
.phoneNum-login .login-s1{
	display: inline-block;
	width: 400px;
	height: 33px;
	font: 24px/33px PingFangSC-Regular;
	color: #1BBD8F;
	padding-top: 55px;
	text-align: center;
}
.back-img .erweima-login .erweima{
	width: 180px;
	height: 180px;
	background-color: #ccc;
	position: absolute;
	top: 160px;
	left: 110px;
}
.back-img .erweima-login .login-p1{
	font: 15px/21px PingFangSC-Regular;
	color: #8E8E93;
	position: absolute;
	top: 360px;
	left: 110px;
}
.back-img .erweima-login .bottom-text{
	height: 25px;
	position: absolute;
	top: 407px;
	left: 132px;
	cursor: pointer;
}
.back-img .erweima-login .bottom-text img {
	width: 25px;
}
.back-img .erweima-login .bottom-text span.phone-login{
	font: 17px/25px PingFangSC-Regular;
	height: 25px;
	color: #646464;
}
/*二维码登录结束*/

/*手机号登录开始*/
.back-img .phoneNum-login{
	width: 400px;
	height: 445px;
	background-color: #fff;
	position: absolute;
	top: 150px;
	left: 440px;
	box-shadow: 4px 5px #000000;
	display: none;
}
/*.back-img .phoneNum-login .loginUser{
	position: absolute;
	top: 151px;
	left: 29.2px;
	width: 342px;
	height: 55px;
	
}*/
/*.back-img .phoneNum-login .loginPass{
	position: absolute;
	top: 219px;
	left: 29.2px;
}*/
/*.back-img .phoneNum-login .input-1{
	position: relative;
	width: 284px;
	height: 55px;
	font-size: 17px;
	padding-left: 58.8px;
	background: url(../img-room/手机号@2x.png)no-repeat;
}
.back-img .phoneNum-login .input-2{
	position: relative;
	width: 284px;
	height: 55px;
	font-size: 17px;
	padding-left: 58.8px;
	background: url(../img-room/密码@2x.png)no-repeat;
	
}*/
.phoneNum-login .loginUser .img-username{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../img-room/手机号@2x.png) no-repeat;
}
.back-img .phoneNum-login a{
	display: block;
	width: 240px;
	height: 50px;
	background-color: #1BBD8F;
	border-radius: 30px 30px 30px 30px;
	text-align: center;
	position: absolute;
	top: 304px;
	left: 80px;
}
.back-img .phoneNum-login a span {
	font-size: 28px;
	line-height: 50px;
	color: #fff;
}
.back-img .phoneNum-login .bottom-erweima {
	height: 25px;
	position: absolute;
	top: 407px;
	left: 132px;
	cursor: pointer;
}
/*手机号登录结束*/

/*底部开始*/
.bottom-box{
	width: 100%;
	height: 280px;
}
..bottom-box .h{
	width: 1280px;
	height: 280px;
	margin: 0 auto;
	border: 1px solid red;
}
.bottom-box-text{
	width: 326px;
	height: 40px;
}
/*底部结束*/